{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    {% for flashError in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}


    <section class="loginPage">
        <h1>S'enregistrer</h1>
        <div class="form">

            <div>{{ form_start(registrationForm) }}</div>
            <div>{{ form_row(registrationForm.username) }}</div>
            <div>{{ form_row(registrationForm.plainPassword) }}</div>
            <div>{{ form_row(registrationForm.email) }}</div>
            <div>{{ form_row(registrationForm.city) }}</div>
            <div>{{ form_row(registrationForm.address) }}</div>
            <div>{{ form_row(registrationForm.zip) }}</div>
            <div>{{ form_row(registrationForm.birthday) }}</div>
            <div>{{ form_end(registrationForm) }}</div>
            
        </div>
    </section>
{% endblock %}
