{% extends 'base.html.twig' %}

{% block title %}Tutoriels{% endblock %}

{% block body %}
{{ form_start(tutorialForm) }}
<div>
    <div class="column TutoEditChoixContainer">
        <h2 id="TutoEditTitle" >Nouveau tutoriel</h2>
        <div class="TutoEditTitle">{{ form_row(tutorialForm.title)}}</div>
        <div class="TutoEditSelect">{{ form_row(tutorialForm.category) }}</div>
        <div class="TutoEditisPublished">{{ form_row(tutorialForm.isPublished) }}</div>
    </div>

    <div class="TutoEditMd">Writing in Markdown is possible in this form, have fun: <a href="https://www.markdownguide.org/basic-syntax/" target="_blank">Tuto Markdown</a></div>
    
        <div class="TutoEditForm">
            {{ form_row(tutorialForm.content) }}
            <div class="markDownPreview"></div>
        </div>
</div>

    
    <div class="questions">

        <h2>Création du quiz</h2>
        <i>Le quiz permet aux autres utilisateurs de valider les connaissances qu'ils ont appris dans votre tutoriel, il n'est pas obligatoir d'en créer un.</i>

        <section>
            <div class="questionsHolder" data-prototype="{{ form_widget(tutorialForm.questions.vars.prototype)|e('html_attr') }}">
                {% for question in tutorialForm.questions %}
                    <div class="question-type">
                        <div>{{ form_row(question.content) }}</div>
                        <div>{{ form_row(question.position) }}</div>

                        <div class="answers" data-prototype="{{ form_widget(question.answers.vars.prototype)|e('html_attr') }}">
                        {% for answer in question.answers %}
                            <div class="row answer-type">
                                <div class="col-md-10">{{ form_row(answer.content) }}</div>
                                <div class="col-md-2">{{ form_row(answer.isCorrect) }}</div>
                            </div>
                        {% endfor %}
                        </div>
                        <button type="button" class="add_answer_link btn btn-primary" data-collection-holder-class="answers">Ajouter une réponse</button>
                    </div>
                {% endfor %}
            </div>

            <div class="newQuestionHolder"></div>
        </section>

        <hr/>

        <div class="registerFormQuestion">
            <a href="{{ path('tutorial_list') }}">Annuler</a>
            {{ form_row(tutorialForm.submit) }}
        </div>

    </div>

        <!--{{ form_end(tutorialForm) }}-->

{% endblock %}

{% block javascripts %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/showdown/1.9.1/showdown.min.js"></script>
    <script src="{{ asset('assets/js/markdown.js') }}"></script>
    <script src="{{ asset('assets/js/question-form-manager.js') }}"></script>
{% endblock javascripts %}
