{% extends 'base.html.twig' %}

{% block title %}{% trans %}navbar.tutorials{% endtrans %}{% endblock %}

{% block body %}
{{ form_start(tutorialForm) }}
<div>
    <div class="column TutoEditChoixContainer">
        <h2 id="TutoEditTitle" >{% trans %}tutorial.edit.new{% endtrans %}</h2>
        <div class="TutoEditTitle">{{ form_row(tutorialForm.title)}}</div>
        <div class="TutoEditSelect">{{ form_row(tutorialForm.category) }}</div>
        <div class="TutoEditisPublished">{{ form_row(tutorialForm.isPublished) }}</div>
    </div>

    <div class="TutoEditMd">{% trans %}tutorial.edit.in_markdown{% endtrans %}: <a href="https://www.markdownguide.org/basic-syntax/" target="_blank">{% trans %}tutorial.edit.markdown_guide{% endtrans %}</a></div>
    
        <div class="TutoEditForm">
            {{ form_row(tutorialForm.content) }}
            <div class="markDownPreview"></div>
        </div>
</div>

    <div class="questions">

        <h2>{% trans %}tutorial.edit.questions{% endtrans %}</h2>
        <i>{% trans %}tutorial.edit.indications{% endtrans %}</i>

        <section>
            <div class="questionsHolder" data-prototype="{{ form_widget(tutorialForm.questions.vars.prototype)|e('html_attr') }}">
                {% for question in tutorialForm.questions %}
                    <div class="question-type">
                        <div>{{ form_row(question.content) }}</div>
                        <div>{{ form_row(question.position) }}</div>

                        <div class="answers" data-prototype="{{ form_widget(question.answers.vars.prototype)|e('html_attr') }}">
                        {% for answer in question.answers %}
                            <div class="row answer-type">
                                <div class="col-md-10">{{ form_row(answer.content) }}</div>
                                <div class="col-md-2">{{ form_row(answer.isCorrect) }}</div>
                            </div>
                        {% endfor %}
                        </div>
                        <button type="button" class="add_answer_link btn btn-primary" data-collection-holder-class="answers">{% trans %}tutorial.edit.add_answer{% endtrans %}</button>
                    </div>
                {% endfor %}
            </div>

            <div class="newQuestionHolder"></div>
        </section>

        <hr/>

        <div class="registerFormQuestion">
            <a href="{{ app.request.headers.get('referer') }}">{% trans %}tutorial.edit.back{% endtrans %}</a>
            {{ form_row(tutorialForm.submit) }}
        </div>

    </div>

    {{ form_end(tutorialForm) }}

    <section class="displayNone">
        <div data-id="add_question">{% trans %}form.js_answer.add_question{% endtrans %}</div>
        <div data-id="answer">{% trans %}form.js_answer.answer{% endtrans %}</div>
        <div data-id="correct_answer">{% trans %}form.js_answer.correct_answer{% endtrans %}</div>
        <div data-id="yes">{% trans %}form.js_answer.yes{% endtrans %}</div>
        <div data-id="no">{% trans %}form.js_answer.no{% endtrans %}</div>
        <div data-id="remove_answer">{% trans %}form.js_answer.remove_answer{% endtrans %}</div>
        <div data-id="add_answer">{% trans %}form.js_answer.add_answer{% endtrans %}</div>
        <div data-id="remove_question">{% trans %}form.js_answer.remove_question{% endtrans %}</div>
    </section>

{% endblock %}

{% block javascripts %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/showdown/1.9.1/showdown.min.js"></script>
    <script src="{{ asset('assets/js/markdown.js') }}"></script>
    <script src="{{ asset('assets/js/question-form-manager.js') }}"></script>
{% endblock javascripts %}
