{% extends 'base.html.twig' %}

{% block title %}Tutoriels{% endblock %}

{% block body %}

    <section class="mainContent">

        <section class="secondContent elementCase">

            <h2 class="text-center p-3 text-uppercase">{% trans %}tutorial.index.ten_last{% endtrans %}</h2>

            <div class="tutorialsContent">

            {% for tutorial in tutorials %}

                {% if tutorial.isPublished == true and tutorial.isDeleted == false  %}

                    <div class="card tutorialCard">
                        <div class="tutoCategory">{{ tutorial.category }}</div>
                        <div class="title">{{ tutorial.title }}</div>
                        <a href="{{ path('tutorial_view', {'id': tutorial.id}) }}" class="stretched-link"></a>
                    </div>

                {% endif %}

            {% endfor %}

            </div>

        </section>

        <section class="secondContent">

            <div class="elementCase">
                <h3>{% trans %}tutorial.index.looking_for_a_tutorial{% endtrans %}</h3>

                <div class="searchBarContent m-3">
                    <form class="searchBar customCaseSearch" action="#" method="post">
                        <input onkeyup="onKeyUp(this)" name="search" class="bg-transparent border-0 w-100" placeholder="Search"/>

                       <!-- <button type="submit" class="border-0 bg-transparent">
                            <i class="fas fa-search"></i>
                        </button>-->

                    </form>
                </div>

            </div>

            <div class="elementCase createTutorial">
                <h3>{% trans %}tutorial.index.share_tutorial{% endtrans %}</h3>
                {% if app.user %}
                    <a href="{{ path('tutorial_create') }}">{% trans %}tutorial.index.create{% endtrans %}</a>
                {% else %}
                    <a href="{{ path('app_login') }}">{% trans %}tutorial.index.create{% endtrans %}</a>
                {% endif %}
                
            </div>

            <div class="elementCase viewCategory">
                <h3>{% trans %}tutorial.index.see_more{% endtrans %}</h3>
                <a href="{{ path('category_list') }}">{% trans %}tutorial.index.categories{% endtrans %}</a>
            </div>

        </section>

    </section>

{% endblock %}
