{% extends 'base.html.twig' %}

{% block title %}Tutoriels{% endblock %}

{% block body %}

    <section class="mainContent">

        <section class="secondContent elementCase">

            <h2 class="text-center p-3 text-uppercase">Les 10 derniers tutoriels</h2>

            <div class="tutorialsContent">

            {% for tutorial in tutorials %}

                {% if tutorial.isPublished == true and tutorial.isDeleted == false  %}

                    <div class="card tutorialCard">
                        <div class="tutoCategory">{{ tutorial.category }}</div>
                        <div class="title">{{ tutorial.title }}</div>
                        <a href="/tutorial/{{ tutorial.id }}" class="stretched-link"></a>
                    </div>

                {% endif %}

            {% endfor %}

            </div>

        </section>

        <section class="secondContent">

            <div class="elementCase">
                <h3>Vous cherchez un tutoriel en particulier ?</h3>

                <div class="searchBarContent m-3">
                    <form class="searchBar customCaseSearch" action="#" method="post">
                        <input onkeyup="onKeyUp(this)" name="search" class="bg-transparent border-0 w-100" placeholder="Search"/>

                       <!-- <button type="submit" class="border-0 bg-transparent">
                            <i class="fas fa-search"></i>
                        </button>-->

                    </form>
                </div>

            </div>

            <div class="elementCase createTutorial">
                <h3>Envie de partager votre savoir ?</h3>
                {% if app.user %}
                    <a href="{{ path('tutorial_create') }}">Créer un tutoriel !</a>
                {% else %}
                    <a href="{{ path('app_login') }}">Créer un tutoriel !</a>
                {% endif %}
                
            </div>

            <div class="elementCase viewCategory">
                <h3>Vous voulez voir nos autres tutoriels ?</h3>
                <a href="#">Voir les catégories</a>
            </div>

        </section>

    </section>

{% endblock %}
