{% extends 'base.html.twig' %}

{% block title %}Quiz{% endblock %}

{% block body %}
    <h1 id="TutoViewTitre">{{ tutorial.title }}</h1>
    <h4 id="TutoViewAuthor" > Author : {{ tutorial.author.username }}</h4>


    <form class="quizForm" tuto-id={{ tutorial.id }}>
        <div><h2>Quiz !</h2></div>

        {% for question in tutorial.questions %}

            <div class="questionBloc question-type">
                <div class="questionName" id="{{ question.id }}">{{ question.content }}</div>
                <hr>
                {% for answer in question.answers %}
                    <div class="answerBloc answer">
                        <h3 class="answerName">{{ answer.content }}</h3>
                        <div class="input">
                            <input class="answerValue" type="checkbox" id="{{ answer.id }}" name="{{ answer.id }}">
                        </div>
                    </div>
                {% endfor %}

            </div>

        {% endfor %}

        <button class="submitQuiz">Enregistrer mes réponses</button>
    </form>

    {% block javascript %}
        <script src="{{ asset('assets/js/quiz.js') }}"></script>
    {% endblock javascript %}

{% endblock %}