{% extends 'base.html.twig' %}

{% block title %}Quiz{% endblock %}

{% block body %}
    <h1 id="TutoViewTitre">{{ tutorial.title }}</h1>
    <h4 id="TutoViewAuthor" > Author : {{ tutorial.author.username }}</h4>

    <div class="col-xl-12 col-md-8">
        <div class="card card-default card-shadow">
            <div class="card-header">
                <div class="card-title">
                    <h2>Les questions</h2>
                </div>
            </div>
            <form class="card-body quizForm" tuto-id={{ tutorial.id }}>
                {% for question in tutorial.questions %}
                    <div class="row question-type">
                        <div class="questionName col-md-10" id="{{ question.id }}">{{ question.content }}</div>
                        {% for answer in question.answers %}
                            <div class="answer row answer-type">
                                <div class="answerName col-md-8">{{ answer.content }}</div>
                                <div class="col-md-4">
                                    <input class="answerValue" type="checkbox" id="{{ answer.id }}" name="{{ answer.id }}">
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                {% endfor %}
            </form>
                <input class="submitQuiz" type="submit" value="Enregistrer mes réponses">
            </div>
        </div>
    </div>

    {% block javascript %}
        <script src="{{ asset('assets/js/quiz.js') }}"></script>
        <script src="{{ asset('assets/js/jquery-3.5.1.min.js') }}"></script>
    {% endblock javascript %}

{% endblock %}