{% extends 'base.html.twig' %}

{% block title %}{% trans %}navbar.tutorials{% endtrans %}{% endblock %}

{% block body %}
    <h1 id="TutoViewTitre">{{ tutorial.title }}</h1>
    <div class="column"> 
        <h4 id="TutoViewAuthor" > {% trans %}tutorial.view.author{% endtrans %}: {{ tutorial.author }}</h4>
        <p class="TutoViewdate" > {% trans %}tutorial.view.created_at{% endtrans %}: {{ tutorial.createdAt|date("d/m/Y") }}</p>
        {% if tutorial.editedAt != null %}
            <p class="TutoViewdate2" > {% trans %}tutorial.view.last_update{% endtrans %}: {{ tutorial.editedAt|date("d/m/Y")}}</p>
        {% endif %}
    </div>

    <div class="rowbutton">
        <div class="LikeButton" >
            <a href="{{ path('tutorial_post_like',{'id' : tutorial.id}) }}" class="btn btn-link js-like coeurblanc">
                <div class="contentLikeButton">
            {% if app.user and tutorial.isLikedByUser(app.user) %}
                <i class="fas fa-heart fa-2x"></i>
            {% else %}
                <i class="far fa-heart fa-2x"></i>
            {% endif %}
                <span class="js-likes coeurblanc">{{ tutorial.seeLikes | length }}</span>
                <span class="js-label coeurblanc">{% trans %}tutorial.view.like{% endtrans %}</span>
                </div>
            </a> 
        </div>
        <div class="BookMarkButton" >
            <a href="{{ path('tutorial_post_bookMark',{'id' : tutorial.id}) }}" class="btn btn-linkBM js-bookMark coeurblanc">
                {% if app.user and tutorial.isBookMarkedByUser(app.user) %}
                    <i class="fas fa-bookmark fa-2x"></i>
                {% else %}
                    <i class="far fa-bookmark fa-2x"></i>
                {% endif %}
            </a> 
        </div>
    </div>

    <section class="TutoViewSection"> 

        {% apply markdown_to_html %}
            {{ tutorial.content }}     
        {% endapply %}
    </section>

    {% if tutorial.getQuestions().count() > 0 %}
    <div class="playQuiz">
        <h3>{% trans %}tutorial.view.test_your_knowledge{% endtrans %}</h3><br>
        {% if app.user %}
        <a href="{{ path('tutorial_play_quiz', {'id': tutorial.id}) }}">{% trans %}tutorial.view.play_quiz{% endtrans %}</a>
        {% else %}
        <p>{% trans %}tutorial.view.should_be_logged{% endtrans %}: <a href="{{ path('app_login') }}">{% trans %}tutorial.view.login{% endtrans %}</a><p>
        {% endif %}
    </div>
    {% else %}
    <div class="playQuiz">
        <h3>{% trans %}tutorial.view.no_quiz{% endtrans %}</h3>
    </div> 
    {% endif %}
    <div class="backButton">
    <a href="{{ app.request.headers.get('referer') }}" >{% trans %}tutorial.view.back{% endtrans %}</a>
    </div>
    <div class="elementCase comments">
        {% if app.user %}
            {{ form_start(commentForm) }}
            {{ form_end(commentForm) }}
        {% endif %}

        {% for comment in tutorial.comments %}
            <div class="comment">
                <div class="row">
                    <div class="col-3">
                        {{ comment.author }} (<small>{{ comment.createdAt | date('d/m/Y H:i') }}</small>)
                    </div>
                    <div class="col">
                        {{ comment.content | raw }}
                    </div>
                </div>
            </div>

        {% endfor %}
    </div>

    {#-----------------AJAX-----------#}
    {#----------------LIKE-----------#}
    {% block javascripts %}
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

    <script>

        function onClickBtnLike(event){
            event.preventDefault(); //on empêche de faire une redirection (action par défaut)
            const url = this.href; //le this représente l'élément qui déclenche l'évenement
            //à savoir, ici, this correspond à notre balise <a>
            
            const spanCount = this.querySelector('span.js-likes');
            //récupère le span ayant pour classe 'js-likes' se trouvant dans 'this' (notre balise <a>)
            
            const icone = this.querySelector('i');
            const couleur = this; 


            axios.get(url).then(function(response){
                spanCount.textContent = response.data.seeLikes
                //console.log(couleur)

                // si on console log la 'response', on peut voir le chemin:
                // response > data > likes     

                //traitement se faisant car le nom des icons changent si c'est 'far' ou 'fas'
                 if(icone.classList.contains('fas')) {
                    icone.classList.replace('fas', 'far') 
                    couleur.classList.remove('coeurjaune') 
                    couleur.classList.add('coeurblanc') 
                }
                    
                else {
                    icone.classList.replace('far', 'fas'); 
                    couleur.classList.remove('coeurblanc') 
                    couleur.classList.add('coeurjaune') 
                } 

            }).catch(function(error){
                //S'il y a une erreur 403 (dans le cas où on n'est pas connecté)
                if(error.response.status === 403){
                    window.alert("Vous ne pouvez pas liker un tuto si vous n'êtes pas connecté!")
                }
                //Une autre erreur
                else
                {
                    window.alert("Une erreur s'est produite");
                }
            });
        }

        document.querySelectorAll('a.js-like').forEach(function(link)
        {
            link.addEventListener('click', onClickBtnLike);
            //quand on clique sur une balise <a> ayant pour classe 'js-like'
            // alors on appelle la fonction onClickBtnLike
        })
    </script>

    {#-----------------AJAX-----------#}
    {#----------------Bookmark-----------#}
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script>
        function onClickBtnLike(event){
            event.preventDefault(); //on empêche de faire une redirection (action par défaut)
            const url = this.href; 
            const icone = this.querySelector('i');  
            const couleur = this; 

            axios.get(url).then(function(response){


                if(icone.classList.contains('fas')) {
                    icone.classList.replace('fas', 'far') 
                    couleur.classList.remove('coeurjaune') 
                    couleur.classList.add('coeurblanc') 
                }
                    
                else {
                    icone.classList.replace('far', 'fas'); 
                    couleur.classList.remove('coeurblanc') 
                    couleur.classList.add('coeurjaune') 
                }
                    

            }).catch(function(error){
                if(error.response.status === 403){
                    window.alert("Vous ne pouvez pas mettre en favoris un tuto si vous n'êtes pas connecté!")
                }
                else
                {
                    window.alert("Une erreur s'est produite");
                }
            });
        }

        document.querySelectorAll('a.js-bookMark').forEach(function(link)
        {
            link.addEventListener('click', onClickBtnLike);
            //quand on clique sur une balise <a> ayant pour classe 'js-like'
            // alors on appelle la fonction onClickBtnLike
        })
    </script>
    {% endblock %}

{% endblock %}