{% extends 'base.html.twig' %}

{% block title %}{% trans %}navbar.tutorials{% endtrans %}{% endblock %}

{% block body %}
    <h1 id="TutoViewTitre">{{ tutorial.title }}</h1>
    <h4 id="TutoViewAuthor" > {% trans %}tutorial.view.author{% endtrans %}: {{ tutorial.author }}</h4>
    <p class="TutoViewdate" > {% trans %}tutorial.view.created_at{% endtrans %}: {{ tutorial.createdAt|date("d/m/Y") }}</p>
    {% if tutorial.editedAt != null %}
        <p class="TutoViewdate2" > {% trans %}tutorial.view.last_update{% endtrans %}: {{ tutorial.editedAt|date("d/m/Y")}}</p>
    {% endif %}
    <section class="TutoViewSection"> 

        {% apply markdown_to_html %}
            {{ tutorial.content }}     
        {% endapply %}
    </section>

    <div class="elementCase playQuiz">
        <h3>{% trans %}tutorial.view.test_your_knowledge{% endtrans %}</h3>
        {% if app.user %}
        <a href="{{ path('tutorial_play_quiz', {'id': tutorial.id}) }}">{% trans %}tutorial.view.play_quiz{% endtrans %}</a>
        {% else %}
        <p>{% trans %}tutorial.view.should_be_logged{% endtrans %}: <a href="{{ path('app_login') }}">{% trans %}tutorial.view.login{% endtrans %}</a><p>
        {% endif %}
    </div>

    <div class="elementCase comments">
        {% if app.user %}
            {{ form_start(commentForm) }}
            {{ form_end(commentForm) }}
        {% endif %}

        {% for comment in tutorial.comments %}
            <div class="comment">
                <div class="row">
                    <div class="col-3">
                        {{ comment.author }} (<small>{{ comment.createdAt | date('d/m/Y H:i') }}</small>)
                    </div>
                    <div class="col">
                        {{ comment.content | raw }}
                    </div>
                </div>
            </div>

        {% endfor %}
    </div>

{% endblock %}