{% extends 'base.html.twig' %}

{% block title %}Tutoriels{% endblock %}

{% block body %}
    <h1 id="TutoViewTitre">{{ tutorial.title }}</h1>
    <h4 id="TutoViewAuthor" > Author : {{ tutorial.author }}</h4>
    <p class="TutoViewdate" > Created at : {{ tutorial.createdAt|date("d/m/Y") }}</p>
    {% if tutorial.editedAt != null %}
        <p class="TutoViewdate2" > Last update : {{ tutorial.editedAt|date("d/m/Y")}}</p>
    {% endif %}
    <section class="TutoViewSection"> 

        {% apply markdown_to_html %}
            {{ tutorial.content }}     
        {% endapply %}
    </section>

    <div class="elementCase playQuiz">
        <h3>Testez votre compréhension du tutoriel</h3>
        {% if app.user %}
        <a href="{{ path('tutorial_play_quiz', {'id': tutorial.id}) }}">Répondre aux questions du Quiz!</a>
        {% else %}
        <p>Vous devez vous connecter pour répondre au quiz: <a href="{{ path('app_login') }}">Se connecter</a><p>
        {% endif %}
    </div>

{% endblock %}