{% extends 'base.html.twig' %}

{% block body %}
    <div class="col-xl-12 col-md-8">
        <div class="card card-default card-shadow">
            <div class="card-header">
                <div class="card-title">
                    <h2>{{ user.username }}</h2>
                </div>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-4"><a href="{{ path('user_tutorials', {'id': user.id}) }}" class="link-create">{% trans %}user.index.my_tutorials{% endtrans %}</a></div>
                    <div class="col-md-4"><a href="{{ path('user_scores', {'id': user.id}) }}" class="link-create">{% trans %}user.index.my_scores{% endtrans %}</a></div>
                    <div class="col-md-4"><a href="{{ path('app_logout') }}">{% trans %}user.index.logout{% endtrans %}</a></div>
                    <div class="col-md-4">{% trans %}user.index.wallet{% endtrans %} {{ user.wallet }} {% trans %}user.index.point{% endtrans %}{% if user.wallet > 1 %}s{% endif %}!</div>
                    {% if is_granted('ROLE_SUPER_ADMIN') %}

                    <div class="BookMarkList" >
                    {% for bookmark in bookmarks %}
                            <a href="{{ path('tutorial_view', {'id': bookmark.post.id}) }}">{{ bookmark.post.title }}</a>
                    {% endfor %}
                       
                    </div>

                        <div class="row">
                            <div class="col-md-6"><a href="{{ path('admin') }}">EasyAdmin</a></div>
                            <div class="col-md-6"><a href="{{ path('achievement_list') }}">{% trans %}user.index.achievements{% endtrans %}</a></div>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
